<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69677390846-34el0s9571f88rm645mrptvtgp7cohj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69677390846-34el0s9571f88rm645mrptvtgp7cohj8</string>
	<key>API_KEY</key>
	<string>AIzaSyDEamZ0ei6eeU_0ekdU3INJl0pBUgNPoq4</string>
	<key>GCM_SENDER_ID</key>
	<string>69677390846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Uske.MatchingApp</string>
	<key>PROJECT_ID</key>
	<string>matchingapp-c0ba9</string>
	<key>STORAGE_BUCKET</key>
	<string>matchingapp-c0ba9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69677390846:ios:8c07eaa77d4df466467eaf</string>
</dict>
</plist>